
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.NavDropDown{
  font-size: 100%;
}
/*nav menu customizations*/
.nav>li>a {
position: relative;
display: block;
padding: 3px 15px;
}
.navbar-nav>li>a {
  padding: 15px 15px;
}
#logo {
padding: 4px 5px;
}

.dropdown-menu .divider {
margin: 1px 0;
}
.navbar {
margin-bottom: 1px;
}
.well-lg {
padding: 18px;
border-radius: 6px;
}
.well {
margin-bottom: 0px;
}

.badge {
background-color: #666999;
}
/* Put your css in here */

.chart {
 width: 300px;
 height: 500px;
}
/* Styles for Grister Test*/
#def_button {
background : #84FF49
font-size: 25px;
opacity: 1;
width: 200px;
height: 40px
}

#li1 {
background-color: grey;    
}
#li2 {
background-color: grey;     
}
#li3 {
background-color: grey;     
}
#li4 {
background-color: grey;      
}
#li5 {
background-color: grey;     
}
#li6 {
background-color: grey;  
}
#li7 {
background-color: grey;      
}
#li8 {
background-color: grey;      
}
#li9 {
background-color: grey;      
}
#li10 {
background-color: grey;     
}
#li11 {
background-color: grey;     
}
#li12 {
background-color: grey;    
}
#li13 {
background-color: grey;     
}
#li14 {
background-color: grey;  
}
#li15 {
background-color: grey;      
}
#li16 {
background-color: grey;    
}
#li17 {
background-color: grey;      
}
#li18 {
background-color: grey;  
}
#li19 {
background-color: grey;   
}
#li20 {
background-color: grey;     
}
#li21 {
background-color: grey;      
}




body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
   }

ul, ol {
    list-style: none;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400; 
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: white; 
}

/* Gridster styles */

.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
}

.gridster {
    width: 960px;
    margin: 0 auto;
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}


