div class="container">
  <h2>Chart View</h2>
 
   
  <br />

 
    <a href="#/view1">View 1</a>

    <div ng-controller='MyCtrl'>
      <button ng-click='toggleModal()'>View Bar Chart</button>
        <modal-dialog show='modalShown' width='400px' height='60%'>
          
           <div ng-controller="MainCtrl">
    <p>Hello {{name}}!</p>
    <div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart"></div>
    <br>
    Click Data:{{datax}}
   
    
    <br>
    Mouse Data:{{mouseData}}
    <br>
     
     
     <br>
     msg:{{msg}}
           
        </div>
        </span>
      
      </modal-dialog>
    </div>
</div>