
 <div ng-controller="gridster">
 <gridster options="options">
    <gridster-item ng-repeat="item in items">
    	{{ item }}
    </gridster-item>

 </gridster>
</div>

	<!--/*<h2>View 2</h2>
	City:
	 <script src="DualBarChart/d3.js"></script> 
	<br />
	<input type="text" data-ng-model="city" />
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter:city | orderBy:'city'">{{ cust.name }} - {{cust.city}}</li>
	</ul>
		<br />
		<a href="#/view1">View 1</a>

		<div ng-controller='MyCtrl'>
    	<button ng-click='toggleModal()'>View Bar Chart</button>
    		<modal-dialog show='modalShown' width='400px' height='60%'>
     		 	
     		 		I am working on getting a d3 chart here. 
     		 		<!-- How do I inject a chart or graph -->
     		 	<!--	<window data-ng-model="graph"><window/>
				</span>
			
    	</modal-dialog>
    </div> -->